<div class="jumbotron">
  <h1>Geaux Bubbles</h1>
  <p>We specialize in entertainment, by bringing you an amazing toy that all your friends and family will love. In the world we live in today, kids are staying inside, playing video games, and watching too much T.V. Our product gets kids outside playing. Not only are they having fun and making new memories, but they are also excersizing and they don't even realize it. Check out our gallery to see some of our bubbles in action!</p>
  </div>Check out our <%= link_to "Gallery", "gallery#path" , class: "btn btn-info" %>
</div>



